<?xml version="1.0"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="skins"/>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!-- 部屋情報のXMLのパスを指定します。 -->
    <add key="roomInfoPath" value="MultiRoomInfo.xml"/>
    <!-- ログを保存するフォルダーを設定します。（空なら保存しない） -->
    <add key="logDir" value="C:\PPDLog"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>
